# Dependencias
node_modules/

# Build
.next/
dist/
coverage/
*.tsbuildinfo

# Variaveis ambiente
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*

# Python (visao comp. futuramente)
.venv/
venv/
__pycache__/
*.py[cod]

# Editor/ide e operating system
.vscode/
.idea/
.DS_Store
Thumbs.db
